/*basic css template from index.html*/
body {
    background-color: #868282;
    font-family: Arial, Helvetica, sans-serif;
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: rgb(100, 98, 98);
}

/*center the div class col-md-12*/
.col-md-12 {
    text-align: center;
}



/* h4 class Back with float left and a h4 tag TopMenuRight with float right*/
.Back {
    float: left;
    text-align: left;
    color: rgb(0, 159, 221);
    /*add margins to the left and right*/
    margin-left: 1px;
    margin-right: 100px;
   /* display:inline-block;*/
    
    
}

.TopMenuRight {
    float: right;
    text-align: right;
    color: rgb(0, 159, 221);
    /*add margins to the left and right*/
    margin-left: 100px;
    margin-right: 1px;
    
    /*display:inline-block;*/
    
    
}

/* H4 tag with class TopMenu1 thats the center of TopMenu1 and Back on the same line*/
.TopMenu1 {
    text-align: center;
    color: rgb(199, 204, 206);
    /*add margins to the left and right*/
    margin-left: 100px;
    margin-right: 100px;
    
    display:inline-block;

}

/*center div class TopBar*/
.TopBar {
    text-align: center;


}

/*resize img class MagnifyingGlass to a smaller size and position left*/
.MagnifyingGlass {
    width: 20px;
    height: 20px;
    float: left;
    text-align: left;
    
}

/*resize img class ServerIcon to a smaller size and position right*/
.ServerIcon {
    width: 30px;
    height: 30px;
    float: right;
    text-align: right;

}

.SortBy{
    text-align: center;
   
    /*add margins to the left and right*/
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 1px;
    margin-bottom: 5px;
    display:inline-block;
}

.FormatMenu{
    text-align: center;
}

.SelectFormat{
    color: rgb(0, 159, 221);
}



/*resize img class FolderIcon to a smaller size*/
.FolderIcon {
    width: 30px;
    height: 23px;
    float: left;
    text-align: left;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/*resize img class InfoIcon to a smaller size*/
.InfoIcon {
    width: 30px;
    height: 25px;
    float: right;
    text-align: right;
    margin-left: 1px;
    margin-right: 1px;
}

.AboutText{
    text-align: center;
    color: rgb(0, 159, 221);
    /*add margins to the left and right*/
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 1px;
    margin-bottom: 2px;
    display:inline-block;
}

.ProjectsText{
    text-align: center;
    color: rgb(0, 159, 221);
    /*add margins to the left and right*/
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
    display:inline-block;
}

.SocialsText{
    text-align: center;
    color: rgb(0, 159, 221);
    /*add margins to the left and right*/
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
    display:inline-block;
}

.TxtIcon{
    width: 30px;
    height: 26px;
    float: left;
    text-align: left;
    margin-left: 1px;
    margin-right: 1px;
}




/*POP UP CSS*/
.box {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
p {
    font-size: 17px;
    align-items: center;
}
.box a {
    display: inline-block;
    background-color: #767272;
    padding: 15px;
    border-radius: 3px;
}
.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(254, 126, 126, 0);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.content {
    position: absolute;
    background: rgb(116, 113, 113);
    width: 400px;
    padding: 1em 2em;
    border-radius: 4px;
}
.modal:target {
    visibility: visible;
    opacity: 1;
}
.box-close {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
}

/*CSS for socials*/

.SocialName{
    text-align: center;
    color: rgb(0, 159, 221);
    /*add margins to the left and right*/
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
    display:inline-block;
}

.SocialIcon{
    width: 30px;
    height: 26px;
    float: left;
    text-align: left;
    margin-left: 1px;
    margin-right: 1px;
}

/*FOOTER CSS*/
.FooterIcon{
    width: 25px;
    height: 25px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    display:inline-block;
}

Footer{
    text-align: center;
   
   
    display:inline-block;
}

.ProjectsNames{
    text-align: center;
    color: rgb(0, 159, 221);
    /*add margins to the left and right*/
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
    display:inline-block;
}

/*CSS for the projects*/


.ProjectEXEName{
    text-align: center;
    color: rgb(0, 159, 221);
    /*add margins to the left and right*/
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
    display:inline-block;
}

.ProjectIcon{
    width: 30px;
    height: 26px;
    float: left;
    text-align: left;
    margin-left: 1px;
    margin-right: 1px;
}

.InfoText{
    text-align: center;
    color: rgb(0, 159, 221);
    /*add margins to the left and right*/
    margin-left: 15px;
    margin-right: 100px;
    margin-top: 1px;
    margin-bottom: 1px;
    display:inline-block;
}